:root {
	--container-width: 100%;
	--container-padding: 1%;

	--font-main: 'Montserrat',sans-serif;
	--font-title: 'Play', sans-serif;

	--page-bg: rgb(241, 241, 241);
	--white: rgb(255, 255, 255);
	--text: rgb(0, 0, 35);
	--accent: rgb(255, 154, 24);
	--blue: rgb(34, 166, 255);
	--red: rgb(224, 70, 83);
	--link-color: rgb(0, 0, 35);


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}