:root {
	--container-width: 100%;
	--container-padding: 1%;

	--font-main: 'Montserrat',sans-serif;
	--font-accent: 'Manrope', sans-serif;
	--font--title: 'Play', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #F1F1F1;
	--white: #fff;
	--text: rgb(0, 0, 35);
	--accent: #ff9a18;
	--red: #e04653;
	--link-color: rgb(0, 0, 35);


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}