.input {
    padding: 20px 30px;
    border: 1px solid rgba(0,0,35, 0.22);
    background-color: var(--white);
    border-radius: 12px;
    color: var(--text);
    font-family: var(--font-main);
    font-weight: 500;
    min-height: 78px;
    transition: all 0.3s linear;
    &:hover{
        border-color: var(--accent);
    }
    &:focus{
        border-color: var(--accent);
    }
    &:active{
        border-color: var(--accent);
    }
}
.input__min {
    max-width: 100%;
    width: 25%;
}
.input__max {
    max-width: 100%;
    width: 30%;
}
