.input {
    padding: 20px 30px;
    border: 1px solid rgba(0,0,35, 0.22);
    border-radius: 12px;
    color: var(--text);
    font-family: var(--font-main);
    font-weight: 500;
    min-height: 78px;
}
.input__min {
    max-width: 410px;
    width: 100%;
}
.input__max {
    max-width: 510px;
    width: 100%;
}
