.h1{
	font-family: var(--font-title);
	font-weight: 700;
	color: var(--white);
	font-size: 4vw;
    line-height: 5vw;
    letter-spacing: 0.05vw;
	span{
		color: var(--accent);
	}
}

.h2{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 48px;
	color: var(--text);
	line-height: 67px;
}

.h3{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 26px;
	color: var(--text);
	line-height: 36px;
}

.h3_white{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 26px;
	color: var(--white);
	line-height: 36px;
}
.text-white{
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
	color: var(--white);
	line-height: 30px;
}

.text-black{
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
	color: var(--text);
	line-height: 30px;
}