.h1{
	font-family: var(--font-title);
	font-weight: 700;
	color: var(--white);
	font-size: 78px;
    letter-spacing: 0.05vw;
	span{
		color: var(--accent);
	}
}

.h2{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 47px;
	color: var(--text);
}
.h2-big{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 77px;
	color: var(--text);
}
.h2-big-white{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: clamp(1.75rem, 0.636rem + 5.57vw, 4.813rem);
	color: var(--white);
}

.h3{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: clamp(1.375rem, 1.284rem + 0.45vw, 1.625rem);
	color: var(--text);
}

.h3-white{
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 26px;
	color: var(--white);
}
.text-white{
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
	color: var(--white);
	line-height: 30px;
}

.text-black{
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
	color: var(--text);
	line-height: 30px;
}